/* smooth scrolling */
html {
  scroll-behavior: smooth!important;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
}

.bar, h1, button {
  font-family: "Montserrat", sans-serif;
}





.image-fit {
  max-width: 100%!important;
  max-height: 100%!important;
  height: 100%!important;
  width: 100%!important;
  object-fit: contain!important;
}







.music-circle-button {
  border-radius: 50%!important;
  cursor: pointer;
  z-index: 100;
  width: 48px!important;
  height: 48px!important;
  
  position: fixed!important;
  top: 15px!important;
  right: 15px!important;
}

.circle-button {
  border-radius: 50%!important;
  cursor: pointer;
  z-index: 100;
}

.circle-button-48 {
  width: 48px!important;
  height: 48px!important;
}

.map-button {
  cursor: pointer;
  z-index: 100;
  width: 48px!important;
  height: 48px!important;
  color:#000!important;
  background-color:#ff9800!important;
  text-color:#000000!important;
}

.scroll-to-top {
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px!important;
  height: 48px!important;
  
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 30px;
  right: 30px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all .5s ease
}

.scroll-to-top-show {
  opacity: 1;
  transform: translateY(0)
}






/* Hint container */
.hint {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual hint text (appears on top) */
.hint .hinttext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Hint arrow */
.hint .hinttext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the hint container (hide and show the hint) */
.hint .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}






/* The pop-up box (background) */
.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  overflow: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* pop-up content */
.popup-content {
  background-color: #fefefe;
  margin: 5% auto 5% auto; /* 5% from the top and bottom, centered */
  /* was 15% though */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Pop-up box's close button */
.popup-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.popup-close:hover,
.popup-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
