/* smooth scrolling */
html {
  scroll-behavior: smooth!important;
}

body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif;
  /* background-color: #22272e!important;
  text-color: #FEFEFE!important; */
}

.w3-bar,h1,button {
  font-family: "Montserrat", sans-serif;
}

.music-button {
  border-radius: 50%!important;
  cursor: pointer;
  z-index: 100;
  width: 48px!important;
  height: 48px!important;
  
  position: fixed;
  top: 30px;
  right: 30px;
}

.circle-button {
  border-radius: 50%!important;
  cursor: pointer;
  z-index: 100;
}

.circle-button-48 {
  width: 48px!important;
  height: 48px!important;
}

.scroll-to-top {
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px!important;
  height: 48px!important;
  
  /* place it at the bottom right corner */
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all .5s ease
}

.scroll-to-top-show {
  opacity: 1;
  transform: translateY(0)
}
